#ingredients {
  min-height: var(--vh);
  display: grid;
  grid-template-rows: 100px 1.5rem auto;
  grid-gap: 3rem;
  padding: 1.5rem;
}
.ingredients__heading {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  font-size: 40px;
  margin-top: 50px;
  margin-left: 10px;
}
.ingredients__heading > * {
  display: block;
  width: 100%;
}
.ingredients__heading h1{
  margin-top: 20px;
}
.ingredients__input-field {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: stretch;
}
.ingredients__submit-icon {
  align-self: flex-end;
  transform: translateY(11px);
  padding-left: 1rem;
  cursor: pointer;
}
.ingredients__input-field {
  margin-top: 2em;
  margin-left: 15px;
}
.ingredients__input-field input {
  line-height: 1.5rem;
  border: none;
  border-bottom: 2px solid var(--black);
}

.ingredients__list {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 15px;
}
.ingredients__list h4 {
  font-size: 12px;
}
.ingredients__list__ingredient {
  display: flex;
  margin: 1rem 0;
}
.ingredients__list__ingredient img {
  width: 140px;
  height: 100%;
}