:root {
    --black: #43413C;
    --white: #FCFCFC;
    --red: #CD1422;
    --orange: #FFB119;
    --opacity: 5%;
}
section:not(.displayed) {
    display: none;
}
section.displayed {
    display: block;
}

body {
    min-height: var(--vh);
    background-color: var(--white);
    overflow-x: hidden;
}

/* 
- Main title styles 
- Change things by adding classes on custom one
*/
h1 {
    font-family: 'Abril Fatface', cursive;
    color: var(--black);
    /* text-transform: capitalize; */
    font-size: 40px;
    /* In figma font size is 48px, but lets test and find the exact size */
}

/* Use h2 tag for the content under the main titles */
h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    color: var(--white);
    padding: 15px 0px;
    /* 
    - color of this tag is different on landing page
    - It's going to come with custom "class__name--red"
    */
}

/* Use h3 for the numbers in top right corners on main page */
h3 {
    font-family: 'Abril Fatface', cursive;
    opacity: var(--opacity);
    font-size: 65px;
}

/* Use for homescreen */
h4 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    color: var(--black);
    font-size: 24px;
    padding: 50px 0px 15px 0px;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--black);
    font-size: 15px;
}

/* back button should be the same for all of the pages*/
.back-button {
    /* margin-top: 50px;
    margin-left: 10px; */
    font-size: 30px;
}